In [1]:
import pandas as pd

df = pd.read_csv('lyrics-data.csv')
df.head()

,ALink,SName,SLink,Lyric,language
0,/ivete-sangalo/,Arerê,/ivete-sangalo/arere.html,"Tudo o que eu quero nessa vida,\nToda vida, é\...",pt
1,/ivete-sangalo/,Se Eu Não Te Amasse Tanto Assim,/ivete-sangalo/se-eu-nao-te-amasse-tanto-assim...,Meu coração\nSem direção\nVoando só por voar\n...,pt
2,/ivete-sangalo/,Céu da Boca,/ivete-sangalo/chupa-toda.html,É de babaixá!\nÉ de balacubaca!\nÉ de babaixá!...,pt
3,/ivete-sangalo/,Quando A Chuva Passar,/ivete-sangalo/quando-a-chuva-passar.html,Quando a chuva passar\n\nPra quê falar\nSe voc...,pt
4,/ivete-sangalo/,Sorte Grande,/ivete-sangalo/sorte-grande.html,A minha sorte grande foi você cair do céu\nMin...,pt

In [22]:
# Replace newline characters with space in the 'Lyric' column
df['Lyric'] = df['Lyric'].str.replace("\n", " ", regex=True)

In [23]:
# Replace double quotes with single quotes in the 'Lyric' column
df['Lyric'] = df['Lyric'].str.replace('"', "'")

In [24]:
# Show rows with values in 'language' column having more than 2 characters
df_wrong_language = df[df['language'].str.len() > 2]
# Print the number of these rows
print(f"Number of rows with more than 2 characters in 'language' column: {len(df_wrong_language)}")
df_wrong_language.head(50)

Number of rows with more than 2 characters in 'language' column: 1

,ALink,SName,SLink,Lyric,language
226151,/ana-carolina/,Me Sento Na Rua,/ana-carolina/me-sento-na-rua.html,Me Sento Na Rua me sento na rua Me Sento Na Ru...,hmn

In [25]:
# Remove these rows from df
df = df[df['language'].str.len() <= 2]
# Print the number of rows left in the dataset
print(f"Number of rows left in the dataset: {len(df)}")

Number of rows left in the dataset: 365295

In [26]:
# Show unique values in the 'language' column
unique_languages = df['language'].unique()

print(unique_languages)

['pt' 'es' 'en' 'it' 'gl' 'fr' 'de' 'tl' 'et' 'fi' 'pl' 'da' 'st' 'sv'
 'ro' 'af' 'no' 'eu' 'rw' 'sw' 'ga' 'cy' 'ca' 'ny' 'ko' 'ar' 'gd' 'tr'
 'id' 'su' 'lg' 'ru' 'nl' 'sq' 'is' 'cs' 'jw' 'lv' 'hu' 'ms' 'ku' 'zh'
 'hr' 'ht' 'fa' 'mg' 'vi' 'ja' 'sr' 'iw' 'sl']

In [27]:
# Count rows for each unique value in the 'language' column and order them alphabetically
language_counts = df.groupby('language').size().sort_index()

print(language_counts)

language
af        19
ar         4
ca        13
cs         3
cy        23
da        13
de       844
en    191814
es      9917
et        13
eu         4
fa         1
fi       145
fr      1225
ga        32
gd         4
gl        36
hr         1
ht         5
hu         2
id        26
is        86
it      1432
iw         1
ja         7
jw         2
ko        17
ku         3
lg         2
lv         1
mg         3
ms         8
nl        14
no        89
ny         3
pl        47
pt    157393
ro        97
ru         4
rw      1679
sl         1
sq         1
sr         1
st         7
su        19
sv       112
sw        19
tl        69
tr        32
vi         1
zh         1
dtype: int64

In [28]:
# Add a unique ID to the DataFrame as id
df['id'] = range(1, len(df) + 1)
df.head()

,ALink,SName,SLink,Lyric,language,id
0,/ivete-sangalo/,Arerê,/ivete-sangalo/arere.html,"Tudo o que eu quero nessa vida, Toda vida, é É...",pt,1
1,/ivete-sangalo/,Se Eu Não Te Amasse Tanto Assim,/ivete-sangalo/se-eu-nao-te-amasse-tanto-assim...,Meu coração Sem direção Voando só por voar Sem...,pt,2
2,/ivete-sangalo/,Céu da Boca,/ivete-sangalo/chupa-toda.html,É de babaixá! É de balacubaca! É de babaixá! É...,pt,3
3,/ivete-sangalo/,Quando A Chuva Passar,/ivete-sangalo/quando-a-chuva-passar.html,Quando a chuva passar Pra quê falar Se você n...,pt,4
4,/ivete-sangalo/,Sorte Grande,/ivete-sangalo/sorte-grande.html,A minha sorte grande foi você cair do céu Minh...,pt,5

In [29]:
# Write the first 20 rows to a new CSV file with UTF-8 encoding and tab separator
df.head(20).to_csv('lyrics-dataPreprocessed20.csv', encoding='utf-8', sep='\t', index=False)

In [2]:
# Write all the rows to a new CSV file with UTF-8 encoding and tab separator
df.to_csv('lyrics-dataTAB.csv', encoding='utf-8', sep='\t', index=False)